.body{
  margin: 0px;
  font-family: 'Inconsolata', monospace; 
}

.header p{
  font-size: 24px;
  font-family: 'Inconsolata', monospace; 
  margin-left: 77px;
  margin-top: 40px;
  color: #333333;
}

.content {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 125px 200px;
}

.content__imgCont {
  display: grid;
  grid-template-rows: 100%;
  max-width: 100%;
  max-height: 100%;
}

.content__imgCont img {
  max-width: 100%;
  max-height: 100%;
}

.content__information {
  display: grid;
  grid-template-rows: auto auto auto;
  margin-left: 225px;
}

.content__information h1 {
  font-family: 'Space Mono', monospace;
  font-size: 3.5vw;
  margin-bottom: 0px;
}
.content__information p {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  width: 21.21vw;
  margin: 50px 0px; 
  color: #4F4F4F;
}
 .content__information--button button {
   padding: 24px 48px;
   background-color: #333333;
   color: #FFFFFF;
   font-family: 'Space Mono', monospace;
   border: none;
 }

 .content__information--button button:hover {
   cursor: pointer;
 }

 .footer {
   display: grid;
   grid-template-columns: auto;
   justify-content: center;
   margin-top: 151px;
 }

 .footer p {
   font-family: 'Montserrat', sans-serif;
   color: #BDBDBD;
 }

 .footer__username {
   color: inherit;
   text-decoration: underline;
   font-weight: bold;
 }

 @media (max-width:1024px){
    .content {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: auto;
      margin: 64px 0 0 0;
    }
    .content__information {
      margin-left: 25px;
      align-items: center;
    }
    .content__imgCont {
      margin: 25px;
    }
    .content__imgCont img {
      justify-content: center;
    }
    .content__information h1 {
      font-size: 11vw;
    }
    .content__information p {
      width: 83vw;
      margin: 50px 0px 100px 0px;
    }     
    .header p {
    margin-left: 24px;
    margin-top: 20px;
    color: #333333;
    font-weight: bold;
    }
 }
